# This is a basic workflow to help you get started with Actions

name: Newman using Trello

# Controls when the workflow will run
on:
  
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Install Newman & HTML Reporter
        run: npm install -g newman newman-reporter-htmlextra

      # Runs a single command using the runners shell
      - name: Run Newman with HTML Report
        run: |
          newman run Trello.postman_collection.json \
          -r cli,json,junit,htmlextra \
          --reporter-htmlextra-export ./newman/report.html \
          --global-var "Key=${{ secrets.KEY }}" \
          --global-var "Token=${{ secrets.TOKEN }}"

      - name: Upload Newman Reports
        uses: actions/upload-artifact@v4
        with:
          name: newman-reports
          path: ./newman

      
